<!doctype html>
<html lang="en">
<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Ryan Partridge">
  <link rel='icon' href="{{ url_for('static', filename='images/icon.jpg') }}" type='image/x-icon'>
  <link rel="stylesheet" id="main-stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" id="adobe-fonts" href="https://use.typekit.net/lqz6wgg.css">
  <link rel="stylesheet" id="bootstrap-css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/37559427be.js"></script>
  <title>University of Lincoln: Open Day</title>
  {% endblock %}
</head>

<body>
  <div id="main-container" class="container-fluid">
    <div class="row blue-bg spacing">
      <div class="col-lg-4 logo align-self-center">
        <a href="{{ url_for('main.index') }}">
          <img src="{{ url_for('static', filename='images/uol-logo-small.jpg') }}" alt="University of Lincoln Logo">
        </a>
      </div><!-- /.logo -->
      <div class="col-lg-4"></div>
      <div class="col-lg-4 title-text">
        <h2>Open Day</h2>
        <h2>11<span>th</span> February 2020</h2>
      </div><!-- /.title-text -->
    </div><!-- /.row -->
    {% block content %}
    {% endblock %}
  </div> <!-- /.container -->

  <div id="preloader" class="modal" tabindex="-1" role="dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="components">
          <i class="fas fa-spinner fa-pulse"></i>
          <h1>LOADING...</h1>
        </div>
      </div>
    </div>
  </div><!-- /.modal -->

  <div id="welcome-screen" class="modal" tabindex="-1" role="dialog">
    <div class="modal-content">
      <div class="modal-body">
        <h1 class="first shown">
          Hey!
          <br>
          <i class="far fa-grin-beam"></i>
        </h1>
        <h1 class="second hidden">Do you have a question?</h1>
      </div>
    </div>
  </div><!-- /.modal -->

  <!-- Custom scripts -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/custom.js') }}"></script>
  </body>
  </html>