{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid margin-spacing">
      <div class="row">
        <div class="col-lg-12 searchbar-container">
          <div class="col-lg-11 search-title white-bg">
            <form action="#" method="POST" id="search-form">
              <input type="text" id="searchbar" name="question" placeholder="What can I help you with today?">
            </form>
          </div><!-- /.search-title -->
          <div class="col-lg-2 search-icon">
            <button id="search-btn" type="submit" name="search-btn" form="search-form">
              <i class="fas fa-search"></i>
            </button>
          </div><!-- /.search-icon -->
        </div><!-- /.searchbar-container -->
      </div><!-- /.row -->
    </div><!-- /.search-container -->

    <div class="container-fluid white-bg margin-spacing vertical-spacing">
      <div class="row">
        <div class="col-lg-12 question-title">
          <h3>Recently asked questions...</h3>
        </div><!-- /.question-title -->
      </div><!-- /.row -->
  
      {% for question in popular_queries %}
      <div class="row justify-content-center">
        <div class="col-lg-10 question left">
          <form action="#" method="POST">
          <input id="question" name="popular_query" type="submit" value="{{ question }}">
          </form>
        </div><!-- /.question -->
      </div><!-- /.row -->
      {% endfor %}
    </div><!-- /.question-container-->

    <div id="welcome-screen" class="modal" tabindex="-1" role="dialog">
      <div class="modal-content">
        <div class="modal-body">
          <h1 class="first shown">
            Hey!
            <br>
            <i class="far fa-grin-beam"></i>
          </h1>
          <h1 class="second hidden">Do you have a question?</h1>
        </div>
      </div>
    </div><!-- /.modal -->
{% endblock %}