/* Core Styles */
body {
  background-color: #efefef !important;
}
a {
  color: inherit !important;
  text-decoration: none;
}
.spacing {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.vertical-spacing {
  padding-top: 30px;
  padding-bottom: 30px;
}
.margin-spacing {
  margin-top: 30px;
  margin-bottom: 30px;
}
.return-btn {
  margin-top: 20px;
}
.return-btn a {
  background-color: #4288c4;
  border: none;
  color: #fff !important;
  font-family: myriad-pro, sans-serif;
  font-size: 28px;
  text-align: center;
  width: 100%;
  border-radius: 10px;
  padding-top: 4px;
  padding-bottom: 8px;
  display: block;
}
.return-btn a .fa-arrow-alt-circle-left {
  font-size: 26px;
  width: 2em;
}
#main-container {
  max-width: 1024px !important;
}

/* Header Styles */
.row.blue-bg {
  background-color: #072249;
}
.logo {
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.title-text h2 {
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 26px;
  text-align: center;
}
.title-text h2 span {
  font-size: 14px;
  vertical-align: top;
}

/* Error Page Styles */
.error-message {
  text-align: center;
}
.error-message .fa-dizzy {
  font-size: 80px;
  color: #000;
  padding-bottom: 10px;
}
.error-message p {
  font-family: myraid-pro, sans-serif;
  font-size: 34px;
  color: #000;
  text-align: center;
}
.error-message p span {
  color: #4288c4;
}

/* Results Page Styles */
.results-description {
  padding-bottom: 15px;
}
.results-description p {
  font-family: myraid-pro, sans-serif;
  font-size: 20px;
  color: #000;
  text-align: left;
}
.results-title h2 {
  font-family: myriad-pro, sans-serif;
  font-size: 36px;
  color: #000;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
  font-weight: bold;
}

/* Combined Prototype Styles */
.container-fluid.white-bg {
  background-color: #fff;
}
.question-title h3 {
  font-family: myriad-pro, sans-serif;
  font-size: 36px;
  color: #000;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
}
.question {
  background-color: #f4f4f4;
  margin-top: 6px;
  margin-bottom: 6px;
}
.question {
  border-radius: 5px;
}
.question input#question {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: #4288c4;
  text-align: left;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 0;
  background: inherit;
  border: none;
}
#welcome-screen .modal-content {
  height: 100%;
}
#welcome-screen .modal-content .modal-body {
  display: flex;
  background-color: #072249;
}
#welcome-screen .modal-content .modal-body h1 {
  font-family: myriad-pro, sans-serif;
  color: #fff;
  margin: auto;
  text-align: center;
  font-size: 80px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
#welcome-screen .modal-content .modal-body h1 .fa-grin-beam {
  margin-top: 20px;
}
.modal-body h1.shown {
  display: block;
  animation: show_text 3s steps(60, end);
}
.modal-body h1.hidden {
  display: none;
}
@keyframes show_text {
  from { 
    width: 0;
  }
}

/* Prototype Two Styles */
.searchbar-container {
  margin-bottom: 10px;
}
.search-title {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.search-title.white-bg {
  border-radius: 20px;
  background-color: #fff;
}
.search-title input {
  font-family: myriad-pro, sans-serif;
  font-size: 32px;
  color: #000;
  border: none;
  border-bottom: 1px solid #e1e1e1;
  width: 100%;
}
.search-title hr {
  margin-right: 50px;
}
.search-title input::placeholder {
  font-family: myriad-pro, sans-serif;
  font-size: 32px;
  color: #000;
  opacity: 1;
}
.col-lg-2.search-icon {
  position: absolute;
  z-index: 1;
  top: -20px;
  right: 20px;
}
.search-icon button {
  width: 140px;
  height: 140px;
  background-color: #4288c4;
  border-radius: 50%;
  border: none;
}
.fa-search {
  color: #fff;
  font-size: 75px;
}

/* Prototype Three Styles */
.question-title p {
  font-family: myriad-pro, sans-serif;
  font-size: 32px;
  color: #000;
  text-align: center;
  padding-top: 25px;
}
.proto-three.question-title h3 {
  padding-bottom: 40px;
}
.speech-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  font-size: 75px;
  color: #4288c4;
  left: 43%;
  background: #fff;
	position: relative;
  text-align: center;
}
.pulse-ring {
  content: '';
  width: 140px;
  height: 140px;
  border: 5px solid #4288c4;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  left: -5px;
  animation: pulse infinite 2s;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}